body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
}

.child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

h2,
h3 {
  margin: 10px 0;
}

svg {
  border: 1px solid #ccc;
  margin-top: 20px;
}
#tooltip {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  pointer-events: none;
}
